APP_ENV=dev
APP_SECRET=change_me_64_hex_chars

DATABASE_URL="postgresql://shortener:shortener@postgres:5432/shortener?serverVersion=16&charset=utf8"
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f/async
